<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>永琪智控仓库管理系统</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/static/bootstrap/normalize.css">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/themify-icons.css">
    <link rel="stylesheet" href="/static/bootstrap/pe-icon-7-filled.css">
    <link rel="stylesheet" href="/static/bootstrap/flag-icon.min.css">
    <link rel="stylesheet" href="/static/bootstrap/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/bootstrap/style.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="/static/bootstrap/weather-icons.css" rel="stylesheet"/>
    <link href="/static/bootstrap/fullcalendar.css" rel="stylesheet"/>

    <link href="/static/bootstrap/chartist.min.css" rel="stylesheet">
    <link href="/static/bootstrap/jqvmap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <link href="/static/lib/jquery.dataTables.min.css" rel="stylesheet">

    <style>
        .footer{
            position:absolute;
            bottom:0;
            width:75%;
            height:60px;
            {#margin-left: 100px;
            background-color: #ffc0cb;#}
        }

        #wrap{
            display: flex;
            justify-content: flex-start;
        }

        .vertical-align-span {
            display:inline-block;
            width:1px;
            height:100%;
            margin-left:-10px;
            vertical-align:middle;
        }

        .table{border:1px solid #000000;border-collapse: collapse}
        .table th{border:1px solid #000000;}
        .table td{border:1px solid #000000;}
        .table > thead > tr > th {vertical-align: bottom;border-bottom: 1px solid #000000;}
    </style>
</head>
<body>
<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li >
                    <a href="{{ url_for("user_login")}}"><i class="menu-icon fa fa-laptop"></i>回到主页</a>
                </li>

                <li class="menu-title">菜单</li><!-- /.menu-title -->

                <li>
                    <a href="{{ url_for("procurement.procurement_history") }}  "><i class="menu-icon fa fa-cogs"></i>采购记录</a>
                </li>

                {% if authority=="3" or authority=="8"%}
                    {% if setting==0 %}
                        <li class="active">
                            <a href="{{ url_for("procurement.procurement") }}"><i class="menu-icon fa fa-cogs"></i>添加采购</a>
                        </li>
                    {% elif setting==1 %}
                        <li>
                            <a href="{{ url_for("procurement.procurement") }}"><i class="menu-icon fa fa-cogs"></i>添加采购</a>
                        </li>
                        <li class="active">
                            <a href="#"><i class="menu-icon fa fa-cogs"></i>查看采购</a>
                        </li>
                    {% endif %}
                {% endif %}

                {% if authority=="2" or authority=="1"%}
                    <li class="active">
                        <a href="{{ url_for("procurement.procurement") }}"><i class="menu-icon fa fa-cogs"></i>查看采购</a>
                    </li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>

<!-- Left Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("user_login")}}"><img src="/static/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="{{ url_for("user_login")}}"><img src="/static/images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">

                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="/static/images/admin.jpg" alt="{{ username }}">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa-cog"></i>Settings</a>
                        <a class="nav-link" href="{{ url_for("out") }}"><i class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- /#header -->

    <div class="content">
        <form id="procurement_form" action="#" method="post" novalidate="novalidate">
            <div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="row" style="position:relative;width:1000px;height:60px;">
                                    <div class="col-xs-12" style="position:absolute;bottom:0;left: 0;width: 320px;">
                                        {{ form.productCodeOrType }}
                                        <br/>
                                        {{ form.productCodeOrTypeInput }}
                                    </div>

                                    <div class="col-xs-12"  style="position:absolute;bottom:0;left:330px;width: 320px;">
                                        <label class="control-label mb-1">成品数量</label>
                                        {{ form.productNum }}
                                    </div>

                                    <div class="col-xs-12"  style="position:absolute;bottom:0;left:650px;width: 320px;">
                                        <label for="productcode" class="control-label mb-1">客户</label>  <!--for 属性规定 label 与哪个表单元素绑定。-->
                                        {{ form.client }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12">
                    <div class="card" style="overflow: hidden">
                        <div class="card-header" style="text-align: center;font-size: xx-large">
                            <strong class="card-title">采购清单</strong>
                        </div>
                        <div class="card-body">
                            <!--“ table table-striped ”两行之前有不同的颜色（“斑马线”）-->
                            <!--“ table table-striped table-bordered ”两行之前有不同的颜色且水平方向上有分割线和边框-->
                            <!--id="bootstrap-data-table" 引用datatables.min.js API-->
                            {% if products %}
                                <div class="row">
                                    <input type="text" id="query" class="hidden-print" placeholder="内容过滤" style="float: right; margin-right: 2%;width: 20%;"/>
                                </div>
                            {% endif %}
                            <div id="procurement_div" style="position: relative; padding-top: 20px;">
                                <table id="procurement_table" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th width="100px">序号</th>
                                        <th width="90px">成品编码</th>
                                        <th width="90px">成品型号</th>
                                        <th width="90px">成品数量</th>
                                        <th width="60px">物料编码</th>
                                        <th width="90px">物料名称</th>
                                        <th width="90px">物料型号</th>
                                        <th width="60px">单位</th>
                                        <th width="90px">库存数量</th>
                                        <th width="100px">需出库数量</th>
                                        <th width="100px">余库存数量</th>
                                        <!--<th width="90px">欠料数量</th>-->
                                        <th width="90px">供货厂家</th>
                                        <th width="60px">备注</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <td rowspan="{{ product[3].__len__() }}"></td>
                                            <td rowspan="{{ product[3].__len__() }}">{{ product[0] }}</td>
                                            <td rowspan="{{ product[3].__len__() }}">{{ product[1] }}</td>
                                            <td rowspan="{{ product[3].__len__() }}">{{ product[2] }}</td>
                                            <td>{{ product[3][0][0] }}</td>
                                            <td>{{ product[3][0][1] }}</td>
                                            <td>{{ product[3][0][2] }}</td>
                                            <td>-</td>
                                            <td>-</td>
                                            <td>{{ product[3][0][3] }}</td>
                                            <td>-</td>
                                            <!--<td>-</td>-->
                                            <td>-</td>
                                            <td rowspan="{{ product[3].__len__() }}">{{ product[4] }}</td>
                                        </tr>
                                        {% for material in product[3][1:product[3].__len__()] %}
                                            <tr>
                                                <td>{{ material[0] }}</td>
                                                <td>{{ material[1] }}</td>
                                                <td>{{ material[2] }}</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>{{ material[3] }}</td>
                                                <td>-</td>
                                                <!--<td>-</td>-->
                                                <td>-</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                    {% if materials %}
                                        <tr>
                                            <td rowspan="{{ materials.__len__() }}">汇总</td>
                                            <td rowspan="{{ materials.__len__() }}">{{ productCodeInput }}</td>
                                            <td rowspan="{{ materials.__len__() }}">{{ productTypeInput }}</td>
                                            <td rowspan="{{ materials.__len__() }}">{{ productNumInput }}</td>
                                            <td>{{ materials[0][0] }}</td>
                                            <td>{{ materials[0][1] }}</td>
                                            <td>{{ materials[0][2] }}</td>
                                            <td>{{ materials[0][3] }}</td>
                                            <td>{{ materials[0][4] }}</td>
                                            <td>{{ materials[0][5] }}</td>
                                            <td>{{ materials[0][6] }}</td>
                                            <!--<td>
                                            {% if materials[0][6]<0 %}
                                                {{ -materials[0][6] }}
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>-->
                                            <td>{{ materials[0][7] }}</td>
                                            <td rowspan="{{ materials.__len__() }}">-</td>
                                        </tr>
                                        {% for material in materials[1:materials.__len__()] %}
                                            <tr>
                                                <td>{{ material[0] }}</td>
                                                <td>{{ material[1] }}</td>
                                                <td>{{ material[2] }}</td>
                                                <td>{{ material[3] }}</td>
                                                <td>{{ material[4] }}</td>
                                                <td>{{ material[5] }}</td>
                                                <td>{{ material[6] }}</td>
                                                <!--<td>
                                                {% if material[6]<0 %}
                                                    {{ -material[6] }}
                                                {% else %}
                                                    -
                                                {% endif %}
                                            </td>-->
                                                <td>{{ material[7] }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="position:relative;width:1000px;height:60px;">
                        <div class="col-xs-12" style="position:absolute;bottom:0;left: 0;width: 160px;">
                            <button type="button" onclick="printpage()">打印采购清单</button>
                        </div>
                        <div class="col-xs-12" style="position:absolute;bottom:0;left: 120px;width: 160px;">
                            <button type="button" onclick="export2excel()">导出为Excel</button>
                        </div>
                    </div>
                </div>

            </div>

            <br>

            {% if authority=="3" or authority=="8"%}
                {% if setting==0 %}
                <div>
                    <div class="row">
                        <div class="col-xs-12">
                            {{ form.ok_submit }}
                            {{ form.csrf_token }}
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        </form>
    </div><!-- .content -->
</div>

<!-- Scripts -->
<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/jquery/popper.min.js"></script>
<script src="/static/jquery/plugins.js"></script>
<script src="/static/jquery/main.js"></script>
<script src="/static/jquery/Chart.bundle.js"></script>

<script src="/static/jquery/chartist.min.js"></script>
<script src="/static/jquery/chartist-plugin-legend.js"></script>
<script src="/static/jquery/jquery.flot.js"></script>
<script src="/static/jquery/jquery.flot.pie.js"></script>
<script src="/static/jquery/jquery.flot.spline.js"></script>
<script src="/static/jquery/jquery.simpleWeather.min.js"></script>
<script src="/static/jquery/weather-init.js"></script>
<script src="/static/jquery/moment.js"></script>
<script src="/static/jquery/fullcalendar.min.js"></script>
<script src="/static/jquery/fullcalendar-init.js"></script>
<script src="/static/jquery/weather-init.js"></script>
<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<script>
    $(function() {
        $("#procurement_form").submit(function(e){
            e.preventDefault();//重要，防止重复提交

            var rows=document.getElementById("procurement_table").rows;
            console.log(rows);
            var materialArr=new Array();

            var productNumArr,productCodeOrTypeInputArr,productCodeOrType;
            productCodeOrType=$("#productCodeOrType").val();
            if($("#productCodeOrTypeInput").val()==""){
                alert("请输入成品编码或成品型号");
                return;
            }
            else productCodeOrTypeInputArr=$("#productCodeOrTypeInput").val().split("/");
            if(productCodeOrTypeInputArr[productCodeOrTypeInputArr.length-1]=="")productCodeOrTypeInputArr.splice(productCodeOrTypeInputArr.length-1,1);
            if($("#productNum").val()=="")productNumArr=new Array();
            else productNumArr=$("#productNum").val().split("/");
            if(productNumArr[productNumArr.length-1]=="")productNumArr.splice(productNumArr.length-1,1);
            if(productNumArr.length!=productCodeOrTypeInputArr.length){
                alert("数量个数与编码个数不匹配！");
                return;
            }
            var remarkArr=new Array();
            var table=document.getElementById('procurement_table');
            var j=0;
            for ( var i = 1; i < table.rows.length;i++) {
                if(table.rows[i].cells[12]){
                    if(j<productCodeOrTypeInputArr.length){
                        remarkArr[j]=table.rows[i].cells[12].innerHTML;
                        j += 1;
                    }
                    else break;
                }
            }
            var data={'productCodeOrTypeInputArr':productCodeOrTypeInputArr,
                'productCodeOrType':productCodeOrType,
                'productNumArr':productNumArr,
                'client':$("#clientCode").val(),
                'remarkArr':remarkArr
            };

            console.log(data);

            //alert("提交");
            var url=document.URL;
            if(url.indexOf("edit_procurement")>=0) {
                $.ajax({
                    url:url.substring(url.indexOf("/edit_procurement"),url.length),
                    type: "POST",
                    dataType: "json",
                    //data:$(this).serialize(),
                    data:JSON.stringify(data),
                    contentType: 'application/json; charset=UTF-8',
                    success: function (callback) {
                        console.log(callback);
                        //alert(callback['ok']);//不要用callback.valueOf('ok')
                        if(callback['ok']){
                            alert('更新成功');
                            //var result=callback['result']
                            window.location.href="/procurement_history";//跳转地址
                        }else if(!callback['ok']){
                            alert("成品编码或成品型号输入错误！");
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(xhr.status);// 状态码
                        console.log(xhr.readyState);// 状态
                        console.log(textStatus);// 错误信息
                        alert('返回值错误');
                    }
                });
            }else {
            $.ajax({
                url: '/procurement',
                type: "POST",
                dataType: "json",
                //data:$(this).serialize(),
                data:JSON.stringify(data),
                contentType: 'application/json; charset=UTF-8',
                success: function (callback) {
                    console.log(callback);
                    //alert(callback['ok']);//不要用callback.valueOf('ok')
                    if(callback['ok']){
                        alert('添加成功');
                        //var result=callback['result']
                        window.location.href="/procurement_history";//跳转地址
                    }else if(!callback['ok']){
                        alert("成品编码或成品型号输入错误！");
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.log(xhr.status);// 状态码
                    console.log(xhr.readyState);// 状态
                    console.log(textStatus);// 错误信息
                    alert('返回值错误');
                }
            });
            }
        });
    })
</script>

<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/jquery/jquery.table2excel.min.js"></script>
<script>
    function ShowData(result) {
        console.log(result);
        //var table=document.getElementById("bootstrap-data-table");
        var table=document.getElementById("procurement_table");
        var tbody=table.getElementsByTagName("tbody");
        var tableHtml = "";
        var productNumStr="",productCodeStr="",productTypeStr="";
        for(var i=0;i<result['products'].length;i++){
            var rowTemplate = "<tr><td rowspan="+result['products'][i][3].length+">"+(i+1)+"</td>\n"+
                "<td rowspan="+result['products'][i][3].length+">"+result['products'][i][0]+"</td>\n"+
                "<td rowspan="+result['products'][i][3].length+">"+result['products'][i][1]+"</td>\n"+
                "<td rowspan="+result['products'][i][3].length+">"+result['products'][i][2]+"</td>\n"+
                "<td>"+result['products'][i][3][0][0]+"</td>\n"+
                "<td>"+result['products'][i][3][0][1]+"</td>\n"+
                "<td>"+result['products'][i][3][0][2]+"</td>\n"+
                "<td>-</td>"+
                "<td>-</td>"+
                "<td>"+result['products'][i][3][0][3]+"</td>\n"+
                "<td>-</td>"+
                //"<td>-</td>"+
                "<td>-</td>"+
                "<td rowspan="+result['products'][i][3].length+" contenteditable='true' class='remark'></td></tr>";
            tableHtml += rowTemplate;
            productCodeStr+=result['products'][i][0]+"/";
            productTypeStr+=result['products'][i][1]+"/";
            productNumStr+=result['products'][i][2]+"/";
            for(var j=1;j<result['products'][i][3].length;j++) {
                rowTemplate = "<tr><td>" + result['products'][i][3][j][0] + "</td>\n" +
                    "<td>" + result['products'][i][3][j][1] + "</td>\n" +
                    "<td>" + result['products'][i][3][j][2] + "</td>\n" +
                    "<td>-</td>" +
                    "<td>-</td>" +
                    "<td>" + result['products'][i][3][j][3] + "</td>\n" +
                    "<td>-</td>" +
                    //"<td>-</td>" +
                    "<td>-</td></tr>";
                tableHtml += rowTemplate;
            }
        }

        if(result['materials']) {
            if(result['materials'][0][6]<0) {
                rowTemplate = "<tr><td rowspan=" + result['materials'].length + ">汇总</td>\n" +
                    "<td rowspan=" + result['materials'].length + ">" + productCodeStr + "</td>\n" +
                    "<td rowspan=" + result['materials'].length + ">" + productTypeStr + "</td>\n" +
                    "<td rowspan=" + result['materials'].length + ">" + productNumStr + "</td>\n" +
                    "<td>" + result['materials'][0][0] + "</td>\n" +
                    "<td>" + result['materials'][0][1] + "</td>\n" +
                    "<td>" + result['materials'][0][2] + "</td>\n" +
                    "<td>" + result['materials'][0][3] + "</td>\n" +
                    "<td>" + result['materials'][0][4] + "</td>\n" +
                    "<td>" + result['materials'][0][5] + "</td>\n" +
                    "<td>" + result['materials'][0][6] + "</td>\n" +
                    //"<td>" + (-result['materials'][0][6]) + "</td>\n" +
                    "<td>" + result['materials'][0][7] + "</td>\n" +
                    "<td rowspan=" + result['materials'].length + "></td></tr>";
            }else {
                rowTemplate = "<tr><td rowspan=" + result['materials'].length + ">汇总</td>\n" +
                    "<td rowspan=" + result['materials'].length + ">" + productCodeStr + "</td>\n" +
                    "<td rowspan=" + result['materials'].length + ">" + productTypeStr + "</td>\n" +
                    "<td rowspan=" + result['materials'].length + ">" + productNumStr + "</td>\n" +
                    "<td>" + result['materials'][0][0] + "</td>\n" +
                    "<td>" + result['materials'][0][1] + "</td>\n" +
                    "<td>" + result['materials'][0][2] + "</td>\n" +
                    "<td>" + result['materials'][0][3] + "</td>\n" +
                    "<td>" + result['materials'][0][4] + "</td>\n" +
                    "<td>" + result['materials'][0][5] + "</td>\n" +
                    "<td>" + result['materials'][0][6] + "</td>\n" +
                    //"<td>-</td>\n" +
                    "<td>" + result['materials'][0][7] + "</td>\n" +
                    "<td rowspan=" + result['materials'].length + "></td></tr>";
            }
            tableHtml += rowTemplate;
            for (var i = 1; i < result['materials'].length; i++) {
                if(result['materials'][i][6]<0) {
                    rowTemplate = "<tr><td>" + result['materials'][i][0] + "</td>\n" +
                        "<td>" + result['materials'][i][1] + "</td>\n" +
                        "<td>" + result['materials'][i][2] + "</td>\n" +
                        "<td>" + result['materials'][i][3] + "</td>\n" +
                        "<td>" + result['materials'][i][4] + "</td>\n" +
                        "<td>" + result['materials'][i][5] + "</td>\n" +
                        "<td>" + result['materials'][i][6] + "</td>\n" +
                        //"<td>" + (-result['materials'][i][6]) + "</td>\n" +
                        "<td>" + result['materials'][i][7] + "</td></tr>";
                }else {
                    rowTemplate = "<tr><td>" + result['materials'][i][0] + "</td>\n" +
                        "<td>" + result['materials'][i][1] + "</td>\n" +
                        "<td>" + result['materials'][i][2] + "</td>\n" +
                        "<td>" + result['materials'][i][3] + "</td>\n" +
                        "<td>" + result['materials'][i][4] + "</td>\n" +
                        "<td>" + result['materials'][i][5] + "</td>\n" +
                        "<td>" + result['materials'][i][6] + "</td>\n" +
                        //"<td>-</td>\n" +
                        "<td>" + result['materials'][i][7] + "</td></tr>";
                }
                tableHtml += rowTemplate;
            }
        }
        //tbody[0].innerHTML=tableHtml;
        $("#procurement_table tbody").html(tableHtml);
        console.log("mark");
        console.log(document.getElementById("procurement_table"));

        originTable=document.getElementById('procurement_table');
    };

    $("#productNum").on('input',function(e){
        var productNumArr,productCodeOrTypeInputArr,productCodeOrType;
        productCodeOrType=$("#productCodeOrType").val();
        if($("#productCodeOrTypeInput").val()==""){
            //alert("请输入成品编码或成品型号");
            productCodeOrTypeInputArr=new Array();
            return;
        }
        else productCodeOrTypeInputArr=$("#productCodeOrTypeInput").val().split("/");
        if($("#productNum").val()=="")productNumArr=new Array();
        else productNumArr=$("#productNum").val().split("/");
        /*判断productNumArr数组元素是否是数字*/
        if(productNumArr.length>0) {
            for (var i = 0; i < productNumArr.length-1; i++) {
                if (!$.isNumeric(productNumArr[i])) {
                    alert("成品数量输入错误!");
                    return;
                }else
                    productNumArr[i]=parseInt(productNumArr[i]);
            }
            // 如果数组最后一个元素不是数字，则移除最后元素
            if(!$.isNumeric(productNumArr[productNumArr.length-1]))
                productNumArr.splice(productNumArr.length-1,1);
            else productNumArr[productNumArr.length-1]=parseInt(productNumArr[productNumArr.length-1]);
        }
        var data={'productCodeOrTypeInputArr':productCodeOrTypeInputArr,
            'productCodeOrType':productCodeOrType,
            'productNumArr':productNumArr,
            'url':document.URL
        };

        console.log(data);

        $.ajax({
            url: "/calculate_procurement",
            type: "POST",
            dataType: "json",
            //data:$(this).serialize(),
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);
                //alert(callback['ok']);//不要用callback.valueOf('ok')
                if (callback['ok']) {
                    //alert('获取');
                    if(callback['result']) {
                        var result = callback['result'];
                        ShowData(result);
                    }
                    /*var result = callback['result'];
                    ShowData(result);
                    for (var i = 0; i < result.length; i++)
                        if (result[i]['exception']) alert(result[i]['exception']);*/
                } else if (!callback['ok']) {
                    alert("编码输入错误！");
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });

    $("#productCodeOrTypeInput").on('input',function(e){
        var productNumArr,productCodeOrTypeInputArr,productCodeOrType;
        productCodeOrType=$("#productCodeOrType").val();
        if($("#productCodeOrTypeInput").val()==""){
            //alert("请输入成品编码或成品型号");
            productCodeOrTypeInputArr=new Array();
            return;
        }
        else productCodeOrTypeInputArr=$("#productCodeOrTypeInput").val().split("/");
        if($("#productNum").val()=="")productNumArr=new Array();
        else productNumArr=$("#productNum").val().split("/");
        /*判断productNumArr数组元素是否是数字*/
        if(productNumArr.length>0) {
            for (var i = 0; i < productNumArr.length-1; i++) {
                if (!$.isNumeric(productNumArr[i])) {
                    alert("成品数量输入错误!");
                    return;
                }else
                    productNumArr[i]=parseInt(productNumArr[i]);
            }
            // 如果数组最后一个元素不是数字，则移除最后元素
            if(!$.isNumeric(productNumArr[productNumArr.length-1]))
                productNumArr.splice(productNumArr.length-1,1);
            else productNumArr[productNumArr.length-1]=parseInt(productNumArr[productNumArr.length-1]);
        }
        var data={'productCodeOrTypeInputArr':productCodeOrTypeInputArr,
            'productCodeOrType':productCodeOrType,
            'productNumArr':productNumArr,
            'url':document.URL
        };

        console.log(data);

        $.ajax({
            url: "/calculate_procurement",
            type: "POST",
            dataType: "json",
            //data:$(this).serialize(),
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);
                //alert(callback['ok']);//不要用callback.valueOf('ok')
                if (callback['ok']) {
                    //alert('获取');
                    //console.log(callback['result']);
                    if(callback['result']) {
                        var result = callback['result'];
                        ShowData(result);
                    }
                } else if (!callback['ok']) {
                    alert("编码输入错误！");
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });

    /*成品编码和成品型号切换*/
    $("#productCodeOrType").on('change',function(e){
        var productCodeOrTypeInputArr=$("#productCodeOrTypeInput").val().split("/");
        if($("#productCodeOrType").val()==0){
            $.ajax({
                    url:"/productCodeByType",
                    type: "POST",
                    dataType: "json",
                    //data:$(this).serialize(),
                    data:JSON.stringify({'productTypeArr':productCodeOrTypeInputArr}),
                    contentType: 'application/json; charset=UTF-8',
                    success: function (callback) {
                        console.log(callback);
                        //alert(callback['ok']);//不要用callback.valueOf('ok')
                        if(callback['ok']){
                            $("#productCodeOrTypeInput").val(callback['productCodeArrStr']);
                        }else if(!callback['ok']){
                            alert("成品编码或成品型号输入错误！");
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(xhr.status);// 状态码
                        console.log(xhr.readyState);// 状态
                        console.log(textStatus);// 错误信息
                        alert('返回值错误');
                    }
                });
        }else if($("#productCodeOrType").val()==1){
            $.ajax({
                    url:"/productTypeByCode",
                    type: "POST",
                    dataType: "json",
                    //data:$(this).serialize(),
                    data:JSON.stringify({'productCodeArr':productCodeOrTypeInputArr}),
                    contentType: 'application/json; charset=UTF-8',
                    success: function (callback) {
                        console.log(callback);
                        //alert(callback['ok']);//不要用callback.valueOf('ok')
                        if(callback['ok']){
                            $("#productCodeOrTypeInput").val(callback['productTypeArrStr']);
                        }else if(!callback['ok']){
                            alert("成品编码或成品型号输入错误！");
                        }
                    },
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(xhr.status);// 状态码
                        console.log(xhr.readyState);// 状态
                        console.log(textStatus);// 错误信息
                        alert('返回值错误');
                    }
                });
        }
    })

    /*为表格添加序号*/
    window.onload = function() {
        var table=document.getElementById('procurement_table');
        var j=1;
        console.log(table.rows);
        console.log(table.rows.length);

        //第一列填入序号
        for ( var i = 1; i < table.rows.length;i++) {
            if(table.rows[i].cells[0].hasAttribute("rowspan")&&table.rows[i].cells[0].innerHTML =="" ) {
                table.rows[i].cells[0].innerHTML = j;
                j += 1;
            }
        }
    };

    function printpage(){
        var oldstr = document.body.innerHTML;

        var newstr = document.getElementById("procurement_div").innerHTML;

        // 去除所有的标签形如<textarea rows="6.0" class='remark'></textarea>，只保留其内容
        /*console.log(newstr);
        newstr=newstr.replace(/<textarea[^>]+rows=['"][0-9]+([\.][0-9]+)?['"][^>]+class=['"]remark['"][^>]+placeholder=['"]备注['"]>/g,"");// /g代表全局
        newstr=newstr.replace(/<\/textarea>/g,"");// /g代表全局
        console.log(newstr);*/

        /*document.body.innerHTML = newstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;*/

        //var wind = window.open("",'newwindow', 'height=700, width=1000, top=100, left=100, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=no, status=no');
        var wind = window.open();
        wind.document.body.innerHTML = "<!DOCTYPE html>\n" +
            "<html lang=\"en\">\n" +
            "<head>\n" +
            "    <meta charset=\"UTF-8\">\n" +
            "    <title>Title</title>\n" +
            "\n" +
            "    <link rel=\"stylesheet\" href=\"/static/bootstrap/bootstrap.min.css\">\n" +
            "\n" +
            "    <link rel=\"stylesheet\" type=\"text/css\" href=\"/static/jquery/jquery.dataTables.css\">\n" +
            "\n" +
            "    <style type=\"text/css\">\n" +
            "        .table{border:1px solid #000000;border-collapse: collapse}\n" +
            "        .table th{border:1px solid #000000;}\n" +
            "        .table td{border:1px solid #000000;}\n" +
            "        .table > thead > tr > th {vertical-align: bottom;border-bottom: 1px solid #000000;}\n" +
            "    </style>\n" +
            "</head>\n" +
            "<body>"+
            newstr+
            "</body>";
        wind.print();
        return false;
    }
    
    function export2excel() {
         var oldhtml=$("#procurement_table").html();
        if($("#query").val()!="")
            $("#procurement_table").html(originTable.innerHTML);

        $("#procurement_table").table2excel({
            // 不被导出的表格行的CSS class类
            exclude: ".noExl",
            // 导出的Excel文档的名称
            name: "Excel Document Name",
            // Excel文件的名称
            filename: "采购清单",
            //文件后缀名
            fileext: ".xls",
            //是否排除导出图片
            exclude_img: false,
            //是否排除导出超链接
            exclude_links: false,
            //是否排除导出输入框中的内容
            exclude_inputs: true
        });

        $("#procurement_table").html(oldhtml);
    }

    var originTable=document.getElementById('procurement_table');
    $("#query").on('input',function(e){
        console.log(originTable);

        console.log($(this));
        var filterStr=$(this).val();
        console.log(filterStr);
        if(filterStr==""){
            document.getElementById('procurement_table').outerHTML=originTable.outerHTML;
            return;
        }

        var table=originTable.cloneNode(true);
        console.log(table);
        var data=new Array();var index=0;
        var rowCountArr=new Array(); // 行组过滤后的rowspan
        var rowIndexArr=new Array(table.rows.length); // 行是否被过滤标志
        var mflag=0,flag=0,count=0;
        for ( var i = 1; i < table.rows.length;i++) {
            mflag=0;
            flag=0;
            if(table.rows[i].cells[0].hasAttribute("rowspan")) {
                rowCountArr[index] = count;
                index += 1;
                count = 0;
            }

            for (var j = 0; j < table.rows[i].cells.length; j++) {
                if(table.rows[i].cells[j].hasAttribute("rowspan")){
                    if (table.rows[i].cells[j].innerHTML.indexOf(filterStr) != -1) {
                        mflag = 1;
                        break;
                    }
                }else {
                    if (table.rows[i].cells[j].innerHTML.indexOf(filterStr) != -1) {
                        flag = 1;
                        break;
                    }
                }
            }
            if (mflag == 1) {
                count = parseInt(table.rows[i].cells[0].getAttribute("rowspan"));
                for (var j = i; j < i+count; j++)
                    rowIndexArr[j] = 1;

                i+=count-1;
            }
            else if (mflag == 0&&flag == 1) {
                count += 1;
                rowIndexArr[i] = 1;
            }else if (mflag == 0&&flag == 0) {
                rowIndexArr[i] = 0;
            }
        }
        rowCountArr[index]=count;
        console.log(rowCountArr);
        console.log(rowIndexArr);

        index=1; // 行组索引
        for ( var i = 1; i < table.rows.length;i++) {
            if(table.rows[i].cells[0].hasAttribute("rowspan")){ // 考虑本组第一行
                if(rowCountArr[index]!==0&&rowIndexArr[i] === 1) { // 如果本组没全被过滤，且本组原第一行没被过滤，本组原第一行不做处理，因为"style='display: none'"属性不显示不占空间，但还是对rowspan有影响
                    // 不做处理
                }
                else if(rowCountArr[index]!==0&&rowIndexArr[i] === 0){ // 如果本组没全被过滤，且本组原第一行被过滤掉，则隐藏本组原第一行第4-12列，同时在本组新第一行添加"备注"列
                    for(var j = 4; j < table.rows[i].cells.length;j++) // 隐藏本组原第一行第4-12列
                        table.rows[i].cells[j].setAttribute("style", "display: none");
                    var rowspan=parseInt(table.rows[i].cells[0].getAttribute("rowspan"));
                    for(var k=1;k<rowspan;k++)
                        if(rowIndexArr[k+i]==1) { // 本组新第一行添加"备注"列
                            table.rows[k + i].insertCell(8).innerHTML = table.rows[i].cells[12].innerHTML;
                            table.rows[k + i].cells[8].setAttribute("rowspan", rowspan - k);
                            break;
                        }
                }
                else if(rowCountArr[index]===0){ // 如果本组全被过滤
                    var rowspan=parseInt(table.rows[i].cells[0].getAttribute("rowspan"));
                    for (var j = i; j < i+rowspan; j++){
                        for(var k = 0; k < table.rows[j].cells.length;k++)
                            table.rows[j].cells[k].setAttribute("style", "display: none");
                    }
                }
                index+=1;
            }else { // 考虑本组非第一行
                if(rowIndexArr[i]===0)
                    //table.deleteRow(i);
                    for(var j = 0; j < table.rows[i].cells.length;j++)
                        table.rows[i].cells[j].setAttribute("style", "display: none");
            }
        }

        document.getElementById('procurement_table').outerHTML=table.outerHTML;
    });
</script>

</body>
</html>
