<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>永琪智控仓库管理系统</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="/static/bootstrap/normalize.css">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/themify-icons.css">
    <link rel="stylesheet" href="/static/bootstrap/pe-icon-7-filled.css">
    <link rel="stylesheet" href="/static/bootstrap/flag-icon.min.css">
    <link rel="stylesheet" href="/static/bootstrap/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/bootstrap/style.css">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <link href="/static/bootstrap/weather-icons.css" rel="stylesheet"/>
    <link href="/static/bootstrap/fullcalendar.css" rel="stylesheet"/>

    <link href="/static/bootstrap/chartist.min.css" rel="stylesheet">
    <link href="/static/bootstrap/jqvmap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
    <!-- Left Panel -->

        <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li >
                        <a href="{{ url_for("user_login")}}"><i class="menu-icon fa fa-laptop"></i>回到主页</a>
                    </li>

                    <li class="menu-title">菜单</li><!-- /.menu-title -->
                    <li class="active">
                        <a href="{{ url_for("product.show_products") }}  "><i class="menu-icon fa fa-cogs"></i>成品列表</a>
                    </li>
                    {% if authority=='3' or authority=="8" or authority=="4"%}
                    <li>
                        <a href="{{ url_for("product.add_product") }}"> <i class="menu-icon fa fa-th"></i>添加成品</a>
                    </li>
                    {% endif %}
                    {% if authority=='3' or authority=="8"%}
                    <li>
                        <a href="{{ url_for("product.delete_products") }}"> <i class="menu-icon fa fa-th"></i>删除成品</a>
                    </li>
                    {% endif %}

                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>

    <!-- Left Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="./"><img src="/static/images/logo.png" alt="Logo"></a>
                    <a class="navbar-brand hidden" href="./"><img src="images/logo2.png" alt="Logo"></a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">


                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="/static/images/admin.jpg" alt="{{ username }}">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-cog"></i>Settings</a>
                            <a class="nav-link" href="{{ url_for("out") }}"><i class="fa fa-power-off"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header><!-- /header -->
        <!-- Header-->



            <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">所有成品信息概览</strong>
                            </div>

                            <label style="display: none" id="authority">{{ authority }}</label>

                            <div class="modal fade" id="copyProductModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                复制成品
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row" style="padding-left: 10px;padding-right: 10px">
                                                <label class="control-label mb-1" style="padding-left: 20px;">被复制成品编码</label>
                                                <div class="col-xs-12">
                                                    <input id="copiedProductCode" type="text" class="form-control">
                                                </div>
                                            </div>

                                            <div class="row" style="padding-left: 10px;padding-right: 10px">
                                                <label class="control-label mb-1" style="padding-left: 20px;">新成品编码</label>
                                                <div class="col-xs-12">
                                                    <input id="newProductCode" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row" style="padding-left: 10px;padding-right: 10px">
                                                <label class="control-label mb-1" style="padding-left: 20px;">新成品型号</label>
                                                <div class="col-xs-12">
                                                    <input id="newProductType" type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="copyProductModalCancel()">关闭
                                            </button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="copyProductModalSubmit()">
                                                确认
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>

                            <div class="modal fade" id="productInModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                &times;
                                            </button>
                                            <h4 class="modal-title" id="myModalLabel">
                                                成品入库
                                            </h4>
                                        </div>
                                        <div class="modal-body">
                                            <input id="productRowindex" type="text" style="display: none">

                                            <div class="row" style="padding-left: 10px;padding-right: 10px">
                                                <label class="control-label mb-1" style="padding-left: 20px;">入库成品</label>
                                                <div class="col-xs-12">
                                                    <input id="productCode" type="text" class="form-control" readonly="readonly">
                                                </div>
                                            </div>
                                            <div class="row" style="padding-left: 10px;padding-right: 10px">
                                                <label class="control-label mb-1" style="padding-left: 20px;">入库数量</label>
                                                <div class="col-xs-12">
                                                    <input id="productNum" type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row" style="padding-left: 10px;padding-right: 10px">
                                                <label class="control-label mb-1" style="padding-left: 20px;">备注</label>
                                                <div class="col-xs-12">
                                                    <input id="remark" type="text" class="form-control">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="productInModalCancel()">关闭
                                            </button>
                                            <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="productInModalSubmit()">
                                                确认
                                            </button>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal -->
                            </div>

                            <div class="card-body">
                                <table id="product" class="table table-striped table-bordered">
                                    {% if authority=='1'%}
                                        <thead>
                                        <tr>
                                            <th>成品编码</th>
                                            <th>成品型号</th>
                                            <th>交易客户</th>
                                            <th>库存</th>
                                            <th>备注</th>
                                            <th>录入时间</th>
                                            <th>录入员</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in products %}
                                            <tr>
                                                <td>{{ i[0] }}</td>
                                                <td>{{ i[1] }}</td>
                                                <td>{{ i[2] }}</td>
                                                <td>{{ i[6] }}</td>
                                                <td>{{ i[7] }}</td>
                                                <td>{{ i[8] }}</td>
                                                <td>{{ i[9] }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% elif authority=='2'%}
                                        <thead>
                                        <tr>
                                            <th>成品编码</th>
                                            <th>成品型号</th>
                                            <th>交易客户</th>
                                            <th>成品价格</th>
                                            <th>成品利润</th>
                                            <th>总成本</th>
                                            <th>库存</th>
                                            <th>备注</th>
                                            <th>录入时间</th>
                                            <th>录入员</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in products %}
                                            <tr>
                                                <td><a href="{{ url_for("product.edit_product",productCode=i[0])}}">{{ i[0] }}</a></td>
                                                <td><a href="{{ url_for("product.edit_product",productCode=i[0])}}">{{ i[1] }}</a></td>
                                                <td>{{ i[2] }}</td>
                                                <td>{{ i[3] }}</td>
                                                <td>{{ i[4] }}</td>
                                                <td>{{ i[5] }}</td>
                                                <td>{{ i[6] }}</td>
                                                <td>{{ i[7] }}</td>
                                                <td>{{ i[8] }}</td>
                                                <td>{{ i[9] }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% elif authority=='3' or authority=="8"%}
                                        <thead>
                                        <tr>
                                            <th>操作</th>
                                            <th>成品编码</th>
                                            <th>成品型号</th>
                                            <th>交易客户</th>
                                            <th>成品价格</th>
                                            <th>成品利润</th>
                                            <th>总成本</th>
                                            <th>库存</th>
                                            <th>备注</th>
                                            <th>录入时间</th>
                                            <th>录入员</th>
                                            <th>入库</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in products %}
                                            <tr>
                                                <td><a data-toggle="modal" data-target="#copyProductModal" onclick="copyProduct('{{ i[0] }}')"> 复制 </a></td>
                                                <td><a href="{{ url_for("product.edit_product",productCode=i[0])}}">{{ i[0] }}</a></td>
                                                <td><a href="{{ url_for("product.edit_product",productCode=i[0])}}">{{ i[1] }}</a></td>
                                                <td>{{ i[2] }}</td>
                                                <td>{{ i[3] }}</td>
                                                <td>{{ i[4] }}</td>
                                                <td>{{ i[5] }}</td>
                                                <td>{{ i[6] }}</td>
                                                <td>{{ i[7] }}</td>
                                                <td>{{ i[8] }}</td>
                                                <td>{{ i[9] }}</td>
                                                <td><a data-toggle="modal" data-target="#productInModal" onclick="productIn('{{ i[0] }}')"> 入库 </a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% elif authority=='4'%}
                                        <thead>
                                        <tr>
                                            <th>操作</th>
                                            <th>成品编码</th>
                                            <th>成品型号</th>
                                            <th>交易客户</th>
                                            <th>库存</th>
                                            <th>备注</th>
                                            <th>录入时间</th>
                                            <th>录入员</th>
                                            <th>入库</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for i in products %}
                                            <tr>
                                                <td><a data-toggle="modal" data-target="#copyProductModal" onclick="copyProduct('{{ i[0] }}')"> 复制 </a></td>
                                                <td><a href="{{ url_for("product.edit_product",productCode=i[0])}}">{{ i[0] }}</a></td>
                                                <td><a href="{{ url_for("product.edit_product",productCode=i[0])}}">{{ i[1] }}</a></td>
                                                <td>{{ i[2] }}</td>
                                                <td>{{ i[6] }}</td>
                                                <td>{{ i[7] }}</td>
                                                <td>{{ i[8] }}</td>
                                                <td>{{ i[9] }}</td>
                                                <td><a data-toggle="modal" data-target="#productInModal" onclick="productIn('{{ i[0] }}')"> 入库 </a></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    {% endif %}
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .animated -->
        </div><!-- .content -->
    </div>
    <!-- Scripts -->

    <script src="/static/jquery/jquery-2.1.4.min.js"></script>
    <script src="/static/jquery/popper.min.js"></script>
    <script src="/static/jquery/plugins.js"></script>
    <script src="/static/jquery/main.js"></script>
    <script src="/static/jquery/Chart.bundle.js"></script>

    <script src="/static/lib/datatables.min.js"></script>
    <script src="/static/lib/dataTables.bootstrap.min.js"></script>
    <script src="/static/lib/dataTables.buttons.min.js"></script>
    <script src="/static/lib/buttons.bootstrap.min.js"></script>
    <script src="/static/lib/jszip.min.js"></script>
    <script src="/static/lib/vfs_fonts.js"></script>
    <script src="/static/lib/buttons.html5.min.js"></script>
    <script src="/static/lib/buttons.print.min.js"></script>
    <script src="/static/lib/buttons.colVis.min.js"></script>
    <script src="/static/lib/datatables-init.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#product').DataTable();
        } );

        function copyProduct(productCode){
            $('#copiedProductCode').val(productCode);
        };

        function copyProductModalCancel() {
            $('#copiedProductCode').val("");
            $('#newProductCode').val("");
            $('#newProductType').val("");
        }

        function copyProductModalSubmit()
        {
            var authority=document.getElementById("authority").innerHTML;

            var data = {
                'productCode': $("#copiedProductCode").val(),
                'newProductCode':$("#newProductCode").val(),
                'newProductType':$("#newProductType").val()
            };
            console.log(data);

            $.ajax({
                url: "/copy_product",
                type: "POST",
                dataType: "json",
                //data:$(this).serialize(),
                data: JSON.stringify(data),
                contentType: 'application/json; charset=UTF-8',
                success: function (callback) {
                    console.log(callback);
                    //alert(callback['ok']);//不要用callback.valueOf('ok')
                    if (callback['ok']) {
                        console.log(callback['ok']);

                        var products=callback['products'];
                        console.log(products);

                        var table = $('#product').DataTable();
                        var tableData =new Array();
                        for(var i=0;i<products.length;i++){
                            tableData[i] =new Array();
                            if(authority=='4') {
                                tableData[i][0] = "<a data-toggle='modal' data-target='#copyProductModal' onclick='copyProduct(\""+i[0]+"\")'> 复制 </a>";
                                //tableData[i][1] = "<a href='/edit_product?productCode="+products[i][0]+"'>"+products[i][0]+ "</a>";
                                tableData[i][1] = "<a href='/edit_product/"+products[i][0]+"'>"+products[i][0]+ "</a>";
                                tableData[i][2] = "<a href='/edit_product/"+products[i][0]+"'>"+products[i][1]+ "</a>";
                                tableData[i][3] = products[i][2];
                                tableData[i][4] = products[i][6];
                                tableData[i][5] = products[i][7];
                                tableData[i][6] = products[i][8];
                                tableData[i][7] = products[i][9];
                                tableData[i][8] = "<a data-toggle='modal' data-target='#productInModal' onclick='productIn(\""+i[0]+"\")'> 入库 </a>";
                            }else {
                                tableData[i][0] = "<a data-toggle='modal' data-target='#copyProductModal' onclick='copyProduct(\""+i[0]+"\")'> 复制 </a>";
                                //tableData[i][1] = "<a href='/edit_product?productCode="+products[i][0]+"'>"+products[i][0]+ "</a>";
                                tableData[i][1] = "<a href='/edit_product/"+products[i][0]+"'>"+products[i][0]+ "</a>";
                                tableData[i][2] = "<a href='/edit_product/"+products[i][0]+"'>"+products[i][1]+ "</a>";
                                tableData[i][3] = products[i][2];
                                tableData[i][4] = products[i][3];
                                tableData[i][5] = products[i][4];
                                tableData[i][6] = products[i][5];
                                tableData[i][7] = products[i][6];
                                tableData[i][8] = products[i][7];
                                tableData[i][9] = products[i][8];
                                tableData[i][10] = products[i][9];
                                tableData[i][11] = "<a data-toggle='modal' data-target='#productInModal' onclick='productIn(\""+i[0]+"\")'> 入库 </a>";
                            }
                        }
                        table.clear();
                        table.rows.add(tableData);
                        var currentPage = table.page();
                        table.page(currentPage).draw(false);
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.status);// 状态码
                    console.log(xhr.readyState);// 状态
                    console.log(textStatus);// 错误信息
                    alert('返回值错误');
                }
            });
        }

        function productIn(productCode){
            $('#productCode').val(productCode);
            $('#productRowindex').val(event.currentTarget.parentElement.parentElement.rowIndex);
        };
        function productInModalCancel() {
            $('#copiedProductCode').val("");
            $('#productNum').val("");
            $('#remark').val("");
        }
        function productInModalSubmit(){
            var productCode=$("#productCode").val();
            var productNum=$("#productNum").val();
            var remark=$("#remark").val();
            var authority=document.getElementById("authority").innerHTML;

            var data = {
                'productCode': productCode,
                'productNum': productNum,
                'remark': remark
            };
            console.log(data);

            $.ajax({
                url: "/product_in",
                type: "POST",
                dataType: "json",
                //data:$(this).serialize(),
                data: JSON.stringify(data),
                contentType: 'application/json; charset=UTF-8',
                success: function (callback) {
                    console.log(callback);
                    //alert(callback['ok']);//不要用callback.valueOf('ok')
                    if (callback['ok']) {
                        console.log(callback['ok']);
                        var row=document.getElementById("product").rows[$('#productRowindex').val()];
                        if(authority=='4') {
                            row.cells[4].innerHTML=parseInt(row.cells[4].innerHTML)+parseInt(productNum);
                        }else {
                            row.cells[7].innerHTML=parseInt(row.cells[7].innerHTML)+parseInt(productNum);
                        }
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log(xhr.status);// 状态码
                    console.log(xhr.readyState);// 状态
                    console.log(textStatus);// 错误信息
                    alert('返回值错误');
                }
            });
        }
    </script>
</body>
</html>
