<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>永琪智控仓库管理系统</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bootstrap/normalize.css">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/themify-icons.css">
    <link rel="stylesheet" href="/static/bootstrap/pe-icon-7-filled.css">
    <link rel="stylesheet" href="/static/bootstrap/flag-icon.min.css">
    <link rel="stylesheet" href="/static/bootstrap/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/bootstrap/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    <style>
        /*tab切换样式*/
        *{
            margin:0;
            padding:0;
            text-decoration:none;
            list-style:none;
        }
        a{
            color:#fff;
            font-size:13px;
            display:block;
        }
        a:hover{
            color:#ccc;
        }
        .wrap{
            margin:0 auto;
            width:100%;
            height:auto;
        }
        .container-top{
            width:100%;
            height:40px;
        }
        .container-top ul{
            height:40px;
        }
        .container-top ul li{
            float:left;
            width:33%;
            height:40px;
            line-height:40px;
            text-align:center;
            background-color:#ccc;
        }
        .container-top ul li a{
            font-size: 20px;
        }
        .select{
            background-image:linear-gradient(to right,dimgray,gray);
        }
    </style>
</head>
<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{url_for("user_login")}}"><i class="menu-icon fa fa-laptop"></i>回到主页 </a>
                </li>
                <li class="menu-title">菜单</li><!-- /.menu-title -->

                <li>
                    <a href="{{ url_for('statement.statement') }}"> <i class="menu-icon fa fa-th"></i>账务报表</a>
                </li>
                <li>
                    <a href="{{ url_for('statement.statement_receivable') }}"> <i class="menu-icon fa fa-th"></i>应收账款</a>
                </li>
                <li>
                    <a href="{{ url_for('statement.statement_payable') }}"> <i class="menu-icon fa fa-th"></i>应付账款</a>
                </li>
                <li>
                    <a href="{{ url_for('statement.statement_salary') }}"> <i class="menu-icon fa fa-th"></i>工资查询</a>
                </li>
                <li class="active">
                    <a href="{{ url_for('statement.statement_othercosts') }}"> <i class="menu-icon fa fa-th"></i>其他支出</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("user_login")}}"><img src="/static/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="{{ url_for("user_login")}}"><img src="/static/images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="/static/images/admin.jpg" alt="{{ personName }}">
                    </a>
                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa-cog"></i>Settings</a>
                        <a class="nav-link" href="{{ url_for("out") }}"><i class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /#Header-->

    <!-- content -->
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="overflow: hidden">
                        <div class="card-body">
                            <div class="wrap">
                                <div class="container-top" id="tabList">
                                    <ul>
                                        <li><a>辅&nbsp;&nbsp;&nbsp;&nbsp;料</a></li>
                                        <li><a>运&nbsp;&nbsp;&nbsp;&nbsp;营</a></li>
                                        <li><a>售&nbsp;&nbsp;&nbsp;&nbsp;后</a></li>
                                    </ul>
                                </div>
                                <div id="item">
                                    <div class="tab" style="position:relative;margin-top: 20px;">
                                        <!--（未删减）
                                        <div class="row" style="position:relative;width:100%;height: 42px;margin-top: 20px;">
                                            <form id="searchForm" method="post" novalidate="novalidate">
                                                <div class="col-xs-12" style="position:relative;width: 20%;">
                                                    <input type="text" class="form-control" id="supplierCode" name="supplier" placeholder="输入供应商" list="supplierList"/>
                                                    <datalist id="supplierList">
                                                        {% if suppliers %}
                                                            {% for i in suppliers %}
                                                                <option value="{{ i }}"/>
                                                            {% endfor %}
                                                        {% endif %}
                                                    </datalist>
                                                </div>
                                                <div class="col-xs-12" style="position:relative;padding-left: 2%; width: 22%;">
                                                    <input type="month" id="supplementaryMonth" name="month" class="form-control"
                                                            {% if month %}
                                                           value="{{ month }}"
                                                            {% endif %}
                                                    />
                                                </div>
                                                <div class="col-xs-12" style="position:relative;padding-left: 2%;width: 22%;">
                                                    <button type="submit" id="search" name="search" class="btn btn-default" style="width: 100%;">查询</button>
                                                </div>
                                            </form>
                                        </div>-->
                                        <!--（删减）-->
                                        <div class="row" style="position:relative;width:100%;height: 80px;margin-top: 20px;">
                                            <form id="searchForm" method="post" novalidate="novalidate">
                                                <div class="col-xs-12" style="padding-left: 3%; width: 22%;">
                                                    <label class="control-label mb-1">选择月份</label>
                                                    <input type="month" id="supplementaryMonth" name="month" class="form-control"
                                                            {% if month %}
                                                           value="{{ month }}"
                                                            {% endif %}
                                                    />
                                                </div>
                                            </form>
                                        </div>

                                        <table id="supplementary" class="table table-striped table-bordered">
                                            <thead>
                                            <tr>
                                                <th>供应商</th>
                                                <th>入库日期</th>
                                                <th>辅料型号</th>
                                                <th>数量</th>
                                                <th>单价</th>
                                                <th>本期新增应付</th>
                                                <th>上期结余</th>
                                                <th>应付</th>
                                                <th>已付</th>
                                                <th>余款</th>
                                                <th>备注</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if supplementaryPayables %}
                                                {% for i in supplementaryPayables %}
                                                    <tr>
                                                        <td>{{ i[0] }}</td>
                                                        <td>{{ i[1] }}</td>
                                                        <td>{{ i[2] }}</td>
                                                        <td>{{ i[3] }}</td>
                                                        <td>{{ i[4] }}</td>
                                                        <td>{{ i[3]*i[4] }}</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>{{ i[5] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            <!--{% if supplementaryPayables.__len__()==0 %}
                                                <tr><td colspan='11' style='text-align: center'>No data available in table</td></tr>
                                            {% endif %}-->
                                            </tbody>
                                            <tfoot>
                                            <tr>
                                                {% if supplementaryPayableSum %}
                                                    <td>合计</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>{{ supplementaryPayableSum[1] }}</td>
                                                    <td>{{ supplementaryPayableSum[0] }}</td>
                                                    <td>{{ supplementaryPayableSum[2] }}</td>
                                                    <td>{{ supplementaryPayableSum[3] }}</td>
                                                    <td>{{ supplementaryPayableSum[2]-supplementaryPayableSum[3] }}</td>
                                                    <td></td>
                                                {% else %}
                                                    <td>合计</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td>0</td>
                                                    <td></td>
                                                {% endif %}
                                            </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="tab" style="display: none;width: 100%;">
                                        <!--（旧）
                                        <div class="row" style="position:relative;width:100%;height: 42px;margin-top: 20px;">
                                            <div class="col-xs-12" style="position:relative;width: 20%;">
                                                <input type="month" id="operationMonth" name="month" class="form-control"
                                                        {% if month %}
                                                       value="{{ month }}"
                                                        {% endif %}
                                                />
                                            </div>
                                        </div>-->
                                        <!--（新）-->
                                        <div class="row" style="position:relative;width:100%;height: 80px;margin-top: 20px;">
                                            <div class="col-xs-12" style="position:relative;width: 20%;">
                                                <label class="control-label mb-1">起始月份</label>
                                                <input type="month" id="operationStartMonth" name="operationStartMonth" class="form-control"
                                                        {% if month %}
                                                       value="{{ month }}"
                                                        {% endif %}
                                                />
                                            </div>
                                            <div class="col-xs-12" style="position:relative;padding-left: 2%;width: 22%;">
                                                <label class="control-label mb-1">结束月份</label>
                                                <input type="month" id="operationEndMonth" name="operationEndMonth" class="form-control"
                                                        {% if month %}
                                                       value="{{ month }}"
                                                        {% endif %}
                                                />
                                            </div>
                                            <div class="col-xs-12" style="position:relative;padding-left: 3%;width: 23%;">
                                                <label class="control-label mb-1">选择类别</label>
                                                <select id="operationSelect" name="operationSelect"  class="form-control">
                                                    <option value="-1">请选择</option>
                                                    {% if operationSelects %}
                                                        {% for i in operationSelects %}
                                                            <option value ="{{ i[0] }}">{{ i[0] }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                        <table id="operation" class="table table-striped table-bordered" style="position:relative;">
                                            <thead>
                                            <tr>
                                                <th>日期</th>
                                                <th>金额</th>
                                                <th>备注</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if operations %}
                                                {% for i in operations %}
                                                    <tr>
                                                        <td>{{ i[1] }}</td>
                                                        <td>{{ i[2] }}</td>
                                                        <td>{{ i[3] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            {% if operations.__len__()==0 %}
                                                <tr>
                                                    <td colspan='3' style='text-align: center'>No data available in table</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            {% if operationSum %}
                                                <tr>
                                                    <td>合计</td>
                                                    <td>{{ operationSum }}</td>
                                                    <td>-</td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td>合计</td>
                                                    <td>0</td>
                                                    <td>-</td>
                                                </tr>
                                            {% endif %}
                                            </tfoot>
                                        </table>
                                    </div>
                                    <div class="tab" style="display: none;width: 100%;">
                                        <!--（旧）
                                        <div class="row" style="position:relative;width:100%;height: 42px;margin-top: 20px;">
                                            <div class="col-xs-12" style="position:relative;width: 20%;">
                                                <input type="month" id="aftersaleMonth" name="month" class="form-control"
                                                        {% if month %}
                                                       value="{{ month }}"
                                                        {% endif %}
                                                />
                                            </div>
                                        </div>-->
                                        <!--（新）-->
                                        <div class="row" style="position:relative;width:100%;height: 80px;margin-top: 20px;">
                                            <div class="col-xs-12" style="position:relative;width: 20%;">
                                                <label class="control-label mb-1">起始月份</label>
                                                <input type="month" id="aftersaleStartMonth" name="aftersaleStartMonth" class="form-control"
                                                        {% if month %}
                                                       value="{{ month }}"
                                                        {% endif %}
                                                />
                                            </div>
                                            <div class="col-xs-12" style="position:relative;padding-left: 2%;width: 22%;">
                                                <label class="control-label mb-1">结束月份</label>
                                                <input type="month" id="aftersaleEndMonth" name="aftersaleEndMonth" class="form-control"
                                                        {% if month %}
                                                       value="{{ month }}"
                                                        {% endif %}
                                                />
                                            </div>
                                        </div>
                                        <table id="aftersale" class="table table-striped table-bordered" style="position:relative;">
                                            <thead>
                                            <tr>
                                                <th>日期</th>
                                                <th>型号</th>
                                                <th>客户</th>
                                                <th>人工成本</th>
                                                <th>材料费用</th>
                                                <th>其他费用</th>
                                                <th>快递单号</th>
                                                <th>备注</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% if aftersales %}
                                                {% for i in aftersales %}
                                                    <tr>
                                                        <td>{{ i[1] }}</td>
                                                        <td>{{ i[2] }}</td>
                                                        <td>{{ i[3] }}</td>
                                                        <td>{{ i[4] }}</td>
                                                        <td>{{ i[5] }}</td>
                                                        <td>{{ i[6] }}</td>
                                                        <td>{{ i[7] }}</td>
                                                        <td>{{ i[8] }}</td>
                                                    </tr>
                                                {% endfor %}
                                            {% endif %}
                                            {% if aftersales.__len__()==0 %}
                                                <tr>
                                                    <td colspan='8' style='text-align: center'>No data available in table</td>
                                                </tr>
                                            {% endif %}
                                            </tbody>
                                            <tfoot>
                                            {% if aftersaleSum %}
                                                <tr>
                                                    <td>合计</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                    <td>{{ aftersaleSum[0] }}</td>
                                                    <td>{{ aftersaleSum[1] }}</td>
                                                    <td>{{ aftersaleSum[2] }}</td>
                                                    <td>-</td>
                                                    <td>-</td>
                                                </tr>
                                            {% endif %}
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>
    <!-- /#content -->
</div>
<!-- /#right-panel -->

<!-- Scripts -->
<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/jquery/popper.min.js"></script>
<script src="/static/jquery/bootstrap.min.js"></script>
<script src="/static/jquery/jquery.matchHeight.min.js"></script>
<script src="/static/jquery/main.js"></script>
<script src="/static/jquery/datatables.min.js"></script>
<script src="/static/jquery/dataTables.bootstrap.min.js"></script>
<script src="/static/jquery/dataTables.buttons.min.js"></script>
<script src="/static/jquery/buttons.bootstrap.min.js"></script>
<script src="/static/jquery/jszip.min.js"></script>
<script src="/static/jquery/vfs_fonts.js"></script>
<script src="/static/jquery/buttons.html5.min.js"></script>
<script src="/static/jquery/buttons.print.min.js"></script>
<script src="/static/jquery/buttons.colVis.min.js"></script>
<script src="/static/jquery/datatables-init.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#supplementary").DataTable();
    });
	window.onload = function(){
		console.log("tab切换");
		//获取5个标题名;
		var items = document.getElementById("tabList").getElementsByTagName("li");
		//获取5个内容盒子;
		var tabs = document.getElementById("item").getElementsByClassName("tab");
		if(items.length != tabs.length){
			return;
		}
		console.log(items);

		//循环遍历标题名和内容盒子;
        items[0].className = "select"; // 默认第一个被选中
		for(var i = 0,len = items.length; i < len; i++){
			items[i].id = i;
			items[i].onmouseover = function(){
				for(var j = 0,len = items.length; j < len; j++){
					items[j].className = "";
					tabs[j].style.display = "none";
				}
				this.className = "select";
				tabs[this.id].style.display = "block";
			}
		}
	};

	$("#searchForm").submit(function(e) {
        e.preventDefault();

        var data = {
            'supplierCode':$('#supplierCode').val(),
            'month': $('#supplementaryMonth').val()
        };
        console.log(data);

        $.ajax({
            url: "/statement_supplementary_payable",
            type: "POST",
            dataType: "json",
            //data:$(this).serialize(),
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);

                if(callback['ok']) {
                    var payable=callback['payable']; // supplierCode,remainPayable,addPayable,payable,payment,remark
                    var supplementaryArr=callback['supplementaryArr']; // supplierCode,date_format(inDate,'%%Y-%%m-%%d'),supplementaryCode,inNum,price,remark
                    var tbody=document.getElementById("supplementary").children[1];
                    $('#supplementary tbody').html("");
                    for (var i = 0; i < supplementaryArr.length; i++) {
                        tbody.insertRow(i).innerHTML="<tr><td>"+supplementaryArr[i][0]+"</td>\n" +
                            "                                                <td>"+supplementaryArr[i][1]+"</td>\n" +
                            "                                                <td>"+supplementaryArr[i][2]+"</td>\n" +
                            "                                                <td>"+supplementaryArr[i][3]+"</td>\n" +
                            "                                                <td>"+supplementaryArr[i][4].toFixed(2)+"</td>\n" +
                            "                                                <td>"+(supplementaryArr[i][3]*supplementaryArr[i][4]).toFixed(2)+"</td>\n" +
                            "                                                <td>-</td>\n" +
                            "                                                <td>-</td>\n" +
                            "                                                <td>-</td>\n" +
                            "                                                <td>-</td>\n" +
                            "                                                <td>"+supplementaryArr[i][5]+"</td></tr>";
                    }
                    if(!supplementaryArr.length)
                        tbody.insertRow(i).innerHTML="<tr><td colspan='11' style='text-align: center'>No data available in table</td></tr>";

                    var tfootRow=$('#supplementary tfoot tr td');
                    tfootRow.eq(5).text(payable[1]);
                    tfootRow.eq(6).text(payable[0]);
                    tfootRow.eq(7).text(payable[2]);
                    tfootRow.eq(8).text(payable[3]);
                    tfootRow.eq(9).text(payable[2]-payable[3]);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });
    $('#supplierCode').on("input", function () {
        console.log("过滤");
        var filterStr=$(this).val();

        $.ajax({
            url: "/search_supplementary_supplier/"+filterStr,
            type: "GET",
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);
                if(callback['ok']){
                    var suppliers=callback['suppliers'];//materialCode,materialName,materialType

                    $("#supplierList").empty();
                    if(suppliers!=null)
                        for(var i=0;i<suppliers.length;i++)
                            $("#supplierList").append('<option value="'+suppliers[i]+'"/>');
                }
            },
            error: function(xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                //alert('返回值错误');
            }
        });
    });
    $('#supplementaryMonth').on("change", function () {
        var data = {
            'supplierCode':'',
            'month': $('#supplementaryMonth').val()
        };
        console.log(data);

        $.ajax({
            url: "/statement_supplementary_payable",
            type: "POST",
            dataType: "json",
            //data:$(this).serialize(),
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);

                if(callback['ok']) {
                    var payable=callback['payable']; // supplierCode,remainPayable,addPayable,payable,payment,remark
                    var supplementaryArr=callback['supplementaryArr']; // supplierCode,date_format(inDate,'%%Y-%%m-%%d'),supplementaryCode,inNum,price,remark
                    var tbody=document.getElementById("supplementary").children[1];
                    $('#supplementary tbody').html("");
                    for (var i = 0; i < supplementaryArr.length; i++) {
                        tbody.insertRow(i).innerHTML="<tr><td>"+supplementaryArr[i][0]+"</td>\n" +
                            "                                                <td>"+supplementaryArr[i][1]+"</td>\n" +
                            "                                                <td>"+supplementaryArr[i][2]+"</td>\n" +
                            "                                                <td>"+supplementaryArr[i][3]+"</td>\n" +
                            "                                                <td>"+supplementaryArr[i][4].toFixed(2)+"</td>\n" +
                            "                                                <td>"+(supplementaryArr[i][3]*supplementaryArr[i][4]).toFixed(2)+"</td>\n" +
                            "                                                <td>-</td>\n" +
                            "                                                <td>-</td>\n" +
                            "                                                <td>-</td>\n" +
                            "                                                <td>-</td>\n" +
                            "                                                <td>"+supplementaryArr[i][5]+"</td></tr>";
                    }
                    if(!supplementaryArr.length)
                        tbody.insertRow(i).innerHTML="<tr><td colspan='11' style='text-align: center'>No data available in table</td></tr>";

                    var tfootRow=$('#supplementary tfoot tr td');
                    tfootRow.eq(5).text(payable[1]);
                    tfootRow.eq(6).text(payable[0]);
                    tfootRow.eq(7).text(payable[2]);
                    tfootRow.eq(8).text(payable[3]);
                    tfootRow.eq(9).text(payable[2]-payable[3]);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });
    /*（旧）*/
    $('#operationMonth').on("change", function () {
        console.log("选择月份");
        console.log(this);
        console.log(this.value);

        $.ajax({
            url: "/search_operation/"+this.value,
            type: "GET",
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);

                if(callback['ok']) {
                    var operationArr=callback['operationArr'];
                    var operationSum=callback['operationSum'];
                    $('#operation tbody').html("");
                    var tbody=document.getElementById("operation").children[1];
                    for(var i=0;i<operationArr.length;i++) {
                        tbody.insertRow(i).innerHTML = "<tr><td>" + operationArr[i][1] + "</td>\n" +
                            "<td>" + operationArr[i][2].toFixed(2) + "</td>\n" +
                            "<td>" + operationArr[i][3] + "</td></tr>";
                    }
                    if(!operationArr.length)
                        tbody.insertRow(i).innerHTML="<tr><td colspan='3' style='text-align: center'>No data available in table</td></tr>";

                    var tfootRow = $('#operation tfoot tr td');
                    tfootRow.eq(1).text(operationSum);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });
    $('#aftersaleMonth').on("change", function () {
        console.log("选择月份");
        console.log(this);
        console.log(this.value);

        $.ajax({
            url: "/search_aftersale/"+this.value,
            type: "GET",
            dataType: "json",
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);

                if(callback['ok']) {
                    var aftersaleArr=callback['aftersaleArr'];
                    var aftersaleSum=callback['aftersaleSum']
                    $('#aftersale tbody').html("");
                    var tbody=document.getElementById("aftersale").children[1];
                    for(var i=0;i<aftersaleArr.length;i++) {
                        tbody.insertRow(i).innerHTML = "<tr><td>" + aftersaleArr[i][1] + "</td>\n" +
                            "<td>" + aftersaleArr[i][2] + "</td>\n" +
                            "<td>" + aftersaleArr[i][3] + "</td>\n" +
                            "<td>" + aftersaleArr[i][4].toFixed(2) + "</td>\n" +
                            "<td>" + aftersaleArr[i][5].toFixed(2) + "</td>\n" +
                            "<td>" + aftersaleArr[i][6].toFixed(2) + "</td>\n" +
                            "<td>" + aftersaleArr[i][7] + "</td>\n" +
                            "<td>" + aftersaleArr[i][8] + "</td></tr>";
                    }
                    if(!aftersaleArr.length)
                        tbody.insertRow(i).innerHTML="<tr><td colspan='8' style='text-align: center'>No data available in table</td></tr>";

                    var tfootRow = $('#aftersale tfoot tr td');
                    tfootRow.eq(3).text(aftersaleSum[0]);
                    tfootRow.eq(4).text(aftersaleSum[1]);
                    tfootRow.eq(5).text(aftersaleSum[2]);
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });
    /*（新）*/
    $('#operationSelect').on("change", function () {
        var data={
            'operationSelect':this.value,
            'operationStartMonth':$('#operationStartMonth').val(),
            'operationEndMonth':$('#operationEndMonth').val(),
        };
        console.log(data);
        $.ajax({
            url: "/search_operationByDuration",
            type: "POST",
            dataType: "json",
            //data:$(this).serialize(),
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);

                if(callback['ok']) {
                    var operationArr=callback['operationArr'];
                    var operationSum=callback['operationSum'];
                    $('#operation tbody').html("");
                    var table=document.getElementById("operation");
                    var tbody=table.children[1];
                    var tfoot=table.children[2];
                    for(var i=0;i<operationArr.length;i++) {
                        tbody.insertRow(i).innerHTML = "<tr><td>" + operationArr[i][1] + "</td>\n" +
                            "<td>" + operationArr[i][2].toFixed(2) + "</td>\n" +
                            "<td>" + operationArr[i][3] + "</td></tr>";
                    }
                    if(operationArr.length==0)
                        tbody.insertRow(i).innerHTML = "<tr><td colspan='6' style='text-align: center'>No data available in table</td></tr>";
                    tfoot.rows[0].cells[1].innerHTML=operationSum;

                    operationAddRowCount=0;
                    $('#operationButtonToolbar').hide();
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });
    $('#operationStartMonth').on("change", function () {
        var data={
            'operationSelect':$('#operationSelect').val(),
            'operationStartMonth':this.value,
            'operationEndMonth':$('#operationEndMonth').val(),
        };
        $.ajax({
            url: "/search_operationByDuration",
            type: "POST",
            dataType: "json",
            //data:$(this).serialize(),
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);

                if(callback['ok']) {
                    var operationArr=callback['operationArr'];
                    var operationSum=callback['operationSum'];
                    $('#operation tbody').html("");
                    var table=document.getElementById("operation");
                    var tbody=table.children[1];
                    var tfoot=table.children[2];
                    for(var i=0;i<operationArr.length;i++) {
                        tbody.insertRow(i).innerHTML = "<tr><td>" + operationArr[i][1] + "</td>\n" +
                            "<td>" + operationArr[i][2].toFixed(2) + "</td>\n" +
                            "<td>" + operationArr[i][3] + "</td></tr>";
                    }
                    if(operationArr.length==0)
                        tbody.insertRow(i).innerHTML = "<tr><td colspan='6' style='text-align: center'>No data available in table</td></tr>";
                    tfoot.rows[0].cells[1].innerHTML=operationSum;

                    operationAddRowCount=0;
                    $('#operationButtonToolbar').hide();
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });
    $('#operationEndMonth').on("change", function () {
        var data={
            'operationSelect':$('#operationSelect').val(),
            'operationStartMonth':$('#operationStartMonth').val(),
            'operationEndMonth':this.value,
        };
        $.ajax({
            url: "/search_operationByDuration",
            type: "POST",
            dataType: "json",
            //data:$(this).serialize(),
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);

                if(callback['ok']) {
                    var operationArr=callback['operationArr'];
                    var operationSum=callback['operationSum'];
                    $('#operation tbody').html("");
                    var table=document.getElementById("operation");
                    var tbody=table.children[1];
                    var tfoot=table.children[2];
                    for(var i=0;i<operationArr.length;i++) {
                        tbody.insertRow(i).innerHTML = "<tr><td>" + operationArr[i][1] + "</td>\n" +
                            "<td>" + operationArr[i][2].toFixed(2) + "</td>\n" +
                            "<td>" + operationArr[i][3] + "</td></tr>";
                    }
                    if(operationArr.length==0)
                        tbody.insertRow(i).innerHTML = "<tr><td colspan='6' style='text-align: center'>No data available in table</td></tr>";
                    tfoot.rows[0].cells[1].innerHTML=operationSum;

                    operationAddRowCount=0;
                    $('#operationButtonToolbar').hide();
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });
    $('#aftersaleStartMonth').on("change", function () {
        var data={
            'aftersaleStartMonth':this.value,
            'aftersaleEndMonth':$('#aftersaleEndMonth').val(),
        };
        console.log(data);
        $.ajax({
            url: "/search_aftersaleByDuration",
            type: "POST",
            dataType: "json",
            //data:$(this).serialize(),
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);

                if(callback['ok']) {
                    var aftersaleArr=callback['aftersaleArr'];
                    var aftersaleSum=callback['aftersaleSum'];
                    $('#aftersale tbody').html("");
                    var table=document.getElementById("aftersale");
                    var tbody=table.children[1];
                    var tfoot=table.children[2];
                    for(var i=0;i<aftersaleArr.length;i++) {
                        tbody.insertRow(i).innerHTML = "<tr><td>" + aftersaleArr[i][1] + "</td>\n" +
                            "<td>" + aftersaleArr[i][2] + "</td>\n" +
                            "<td>" + aftersaleArr[i][3] + "</td>\n" +
                            "<td>" + aftersaleArr[i][4].toFixed(2) + "</td>\n" +
                            "<td>" + aftersaleArr[i][5].toFixed(2) + "</td>\n" +
                            "<td>" + aftersaleArr[i][6].toFixed(2) + "</td>\n" +
                            "<td>" + aftersaleArr[i][7] + "</td>\n" +
                            "<td>" + aftersaleArr[i][8] + "</td></tr>";
                    }
                    if(aftersaleArr.length==0)
                        tbody.insertRow(i).innerHTML = "<tr><td colspan='11' style='text-align: center'>No data available in table</td></tr>";
                    tfoot.rows[0].cells[3].innerHTML=aftersaleSum[0];
                    tfoot.rows[0].cells[4].innerHTML=aftersaleSum[1];
                    tfoot.rows[0].cells[5].innerHTML=aftersaleSum[2];

                    aftersaleAddRowCount=0;
                    $('#aftersaleButtonToolbar').hide();
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });
    $('#aftersaleEndMonth').on("change", function () {
        var data={
            'aftersaleStartMonth':$('#aftersaleStartMonth').val(),
            'aftersaleEndMonth':this.value,
        };
        console.log(data);
        $.ajax({
            url: "/search_aftersaleByDuration",
            type: "POST",
            dataType: "json",
            //data:$(this).serialize(),
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);

                if(callback['ok']) {
                    var aftersaleArr=callback['aftersaleArr'];
                    var aftersaleSum=callback['aftersaleSum'];
                    $('#aftersale tbody').html("");
                    var table=document.getElementById("aftersale");
                    var tbody=table.children[1];
                    var tfoot=table.children[2];
                    for(var i=0;i<aftersaleArr.length;i++) {
                        tbody.insertRow(i).innerHTML = "<tr><td>" + aftersaleArr[i][1] + "</td>\n" +
                            "<td>" + aftersaleArr[i][2] + "</td>\n" +
                            "<td>" + aftersaleArr[i][3] + "</td>\n" +
                            "<td>" + aftersaleArr[i][4].toFixed(2) + "</td>\n" +
                            "<td>" + aftersaleArr[i][5].toFixed(2) + "</td>\n" +
                            "<td>" + aftersaleArr[i][6].toFixed(2) + "</td>\n" +
                            "<td>" + aftersaleArr[i][7] + "</td>\n" +
                            "<td>" + aftersaleArr[i][8] + "</td></tr>";
                    }
                    if(aftersaleArr.length==0)
                        tbody.insertRow(i).innerHTML = "<tr><td colspan='11' style='text-align: center'>No data available in table</td></tr>";
                    tfoot.rows[0].cells[3].innerHTML=aftersaleSum[0];
                    tfoot.rows[0].cells[4].innerHTML=aftersaleSum[1];
                    tfoot.rows[0].cells[5].innerHTML=aftersaleSum[2];

                    aftersaleAddRowCount=0;
                    $('#aftersaleButtonToolbar').hide();
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });
</script>
</body>
</html>
