<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>永琪智控仓库管理系统</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/static/bootstrap/normalize.css">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/font-awesome.min.css">
    <link rel="stylesheet" href="/static/bootstrap/themify-icons.css">
    <link rel="stylesheet" href="/static/bootstrap/pe-icon-7-filled.css">
    <link rel="stylesheet" href="/static/bootstrap/flag-icon.min.css">
    <link rel="stylesheet" href="/static/bootstrap/cs-skin-elastic.css">
    <link rel="stylesheet" href="/static/bootstrap/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    <style>
        .footer{
            position:absolute;
            bottom:0;
            width:75%;
            height:60px;
        }
    </style>
</head>
<body>
<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{url_for("user_login")}}"><i class="menu-icon fa fa-laptop"></i>回到主页 </a>
                </li>
                <li class="menu-title">菜单</li><!-- /.menu-title -->

                <li class="active">
                    <a href="{{ url_for('statement.statement') }}"> <i class="menu-icon fa fa-th"></i>账务报表</a>
                </li>
                <li>
                    <a href="{{ url_for('statement.statement_receivable') }}"> <i class="menu-icon fa fa-th"></i>应收账款</a>
                </li>
                <li>
                    <a href="{{ url_for('statement.statement_payable') }}"> <i class="menu-icon fa fa-th"></i>应付账款</a>
                </li>
                <li>
                    <a href="{{ url_for('statement.statement_salary') }}"> <i class="menu-icon fa fa-th"></i>工资查询</a>
                </li>
                <li>
                    <a href="{{ url_for('statement.statement_othercosts') }}"> <i class="menu-icon fa fa-th"></i>其他支出</a>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for("user_login")}}"><img src="/static/images/logo.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="{{ url_for("user_login")}}"><img src="/static/images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="/static/images/admin.jpg" alt="{{ personName }}">
                    </a>
                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#"><i class="fa fa-cog"></i>Settings</a>
                        <a class="nav-link" href="{{ url_for("out") }}"><i class="fa fa-power -off"></i>Logout</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- /#Header-->

    <!-- content -->
    <div class="content">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="overflow: hidden">
                        <div class="card-body">
                            <div class="row" style="position:relative;">
                                <div class="col-xs-12" style="padding-left: 20px;width: 240px;">
                                    <label class="control-label mb-1">选择月份</label>
                                    <input type="month" id="month" name="month" class="form-control"
                                            {% if month %}
                                           value="{{ month }}"
                                            {% endif %}
                                    >
                                </div>
                            </div>

                            <hr align="left" style="width: 100%;color: #987cb9;size: 3px">
                            <!--<h3>供应商"<span id="clientHeader" style="color: #8a6d3b">"</span></h3>-->

                            <div class="row" style="position:relative;width:100%;">
                                <table id="statement" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>月份</th>
                                        <th>销售总额</th>
                                        <th>材料管理</th>
                                        <th>工资费用</th>
                                        <th>其他费用</th>
                                        <th>盈亏</th>
                                        <th>备注</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ month }}</td>
                                            <td>{{ revenue }}</td>
                                            <td>{{ materialExpense }}</td>
                                            <td>{{ salaryExpense }}</td>
                                            <td>{{ otherExpense }}</td>
                                            <td>{{ income }}</td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- .animated -->
    </div>
    <!-- /#content -->
</div>
<!-- /#right-panel -->

<!-- Scripts -->
<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/jquery/popper.min.js"></script>
<script src="/static/jquery/bootstrap.min.js"></script>
<script src="/static/jquery/jquery.matchHeight.min.js"></script>
<script src="/static/jquery/main.js"></script>
<script src="/static/jquery/datatables.min.js"></script>
<script src="/static/jquery/dataTables.bootstrap.min.js"></script>
<script src="/static/jquery/dataTables.buttons.min.js"></script>
<script src="/static/jquery/buttons.bootstrap.min.js"></script>
<script src="/static/jquery/jszip.min.js"></script>
<script src="/static/jquery/vfs_fonts.js"></script>
<script src="/static/jquery/buttons.html5.min.js"></script>
<script src="/static/jquery/buttons.print.min.js"></script>
<script src="/static/jquery/buttons.colVis.min.js"></script>
<script src="/static/jquery/datatables-init.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#statement').DataTable();
    });
    $('#month').on("change", function () {
        console.log("选择月份");
        console.log(this);
        console.log(this.value);
        var data = {
            'month': this.value
        };

        $.ajax({
            url: "/statement",
            type: "POST",
            dataType: "json",
            //data:$(this).serialize(),
            data: JSON.stringify(data),
            contentType: 'application/json; charset=UTF-8',
            success: function (callback) {
                console.log(callback);

                if(callback['ok']) {
                    var incomeDetail=callback['incomeDetail'];
                    var row=document.getElementById("statement").children[1].rows[0];
                    row.cells[0].innerHTML=incomeDetail[0];
                    row.cells[1].innerHTML=incomeDetail[1];
                    row.cells[2].innerHTML=incomeDetail[2];
                    row.cells[3].innerHTML=incomeDetail[3];
                    row.cells[4].innerHTML=incomeDetail[4];
                    row.cells[5].innerHTML=incomeDetail[5];
                }
            },
            error: function (xhr, textStatus, errorThrown) {
                console.log(xhr.status);// 状态码
                console.log(xhr.readyState);// 状态
                console.log(textStatus);// 错误信息
                alert('返回值错误');
            }
        });
    });
</script>
</body>
</html>
