<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/static/bootstrap/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery.dataTables.css">

    <style type="text/css">
        .table{border:1px solid #F00;border-collapse: collapse}
        .table th{border:1px solid #F00;}
        .table td{border:1px solid #F00;}
        .table > thead > tr > th {vertical-align: bottom;border-bottom: 1px solid #F00;}
    </style>
</head>
<body>

<!--输入框下拉提示-->
<!--<input type="text" list="query"/>
<datalist id="query">
    <option value="xijiawei"/>
    <option value="xiajiang"/>
    <option value="liuyan"/>
    <option value="sichuan"/>
</datalist>-->

<!--DataTable-->
<div class="card" style="position:relative;width: 80%;left: 10%;top: 50px">
    <div id="user_table_div" class="card-body">
        <!--<input id="search" type="text"/>-->
        <table id="user_table" class="table table-striped">
            <thead>
            <tr>
                <th>用户ID</th>
                <th>用户姓名</th>
                <th>用户密码</th>
                <th>用户权限</th>
                <th>编辑</th>
            </tr>
            </thead>
            <tbody>
            {% for i in users %}
                <tr>
                    <td>{{ i[0] }}</td>
                    <td>{{ i[1] }}</td>
                    <td>{{ i[2] }}</td>
                    <td>{{ i[3] }}</td>
                    <td><a class='edit' onclick='deleteRow()'>删除</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>{{ sum }}</td>
                <td>-</td>
            </tr>
            </tfoot>
        </table>
    </div>
    <button type="button" onclick="printpage()">打印表格</button>
    <button type="button" onclick="export2excel()">导出表格</button>
</div>

<!--表单-->
<!--<div class="card" style="position:relative;width: 80%;left: 10%;top: 50px">
    <div class="card-body">
        <form action="#" method="post" novalidate="novalidate">
            <div class="row">
                <label class="control-label mb-1">选择用户</label>
                <div class="col-xs-12">
                    {{ form.userid }}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    {{ form.submit }}
                    {{ form.csrf_token }}
                </div>
            </div>
        </form>
    </div>
</div>-->

<div class="card" style="position:relative;width: 80%;left: 10%;top: 50px">
    <div class="card-body">
        <label><a data-toggle="modal" data-target="#myModal" onclick="myFunction(1214)"> 模态框测试 </a></label>
        <!--模态框-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            模态框（Modal）标题
                        </h4>
                    </div>
                    <div class="modal-body">
                        <label id="modalText">在这里添加一些文本</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                        </button>
                        <button type="button" class="btn btn-primary">
                            提交更改
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal -->
        </div>
    </div>
</div>

<script src="/static/jquery/jquery-2.1.4.min.js"></script>
<script src="/static/jquery/bootstrap.min.js"></script>

<script src="/static/lib/datatables.min.js"></script>
<script src="/static/lib/dataTables.bootstrap.min.js"></script>
<script src="/static/lib/dataTables.buttons.min.js"></script>
<script src="/static/lib/buttons.bootstrap.min.js"></script>
<script src="/static/lib/jszip.min.js"></script>
<script src="/static/lib/vfs_fonts.js"></script>
<script src="/static/lib/buttons.html5.min.js"></script>
<script src="/static/lib/buttons.print.min.js"></script>
<script src="/static/lib/buttons.colVis.min.js"></script>
<script src="/static/lib/datatables-init.js"></script>
<script src="/static/jquery/jquery.table2excel.min.js"></script>

<!--<script type="text/javascript" charset="utf8" src="/static/jquery/jquery.dataTables.js"></script>-->
<script type="text/javascript">
    function myFunction(materialCode){
        console.log("ok");
        //$('#modalText').val(materialCode);
        $('#modalText').html(materialCode);
    }

    $(document).ready( function () {
        var table=$('#user_table').DataTable();

        table.on('search.dt', function() {
            console.log("mark");
            console.log(table.rows({ filter: 'applied'}).nodes());
            console.log(table.rows({ filter: 'applied'}).nodes().length);
            console.log(table.rows({ filter: 'applied'}).data());
            console.log(table.rows({ filter: 'applied'}).data().length);

            var data=table.rows({ filter: 'applied'}).data();
            var length=table.rows({ filter: 'applied'}).nodes().length;
            var sum=0;
            for(var i=0;i<length;i++){
                sum+=parseInt(data[i][3]);
            }
            console.log(sum);

            /*var trArr = $("#user_table tfoot").children("tr");
            var tdArr = trArr.eq(0).find("td");
            //tdArr.eq(3).val(sum);
            //console.log(tdArr.eq(3).val());
            tdArr.eq(3).text(sum);
            console.log(tdArr.eq(3).text());*/
            console.log($("#user_table tfoot tr td"));
            $("#user_table tfoot tr td").eq(3).text(sum);
        });
    });

    function deleteRow(){
        /*console.log(event);
        console.log(event.parentElement);*/
        /*以下无效代码*/
        /*var activeElement=document.activeElement;
        console.log(activeElement);*/
        var element=event.currentTarget;
        console.log(element);
        console.log(element.parentElement.parentElement);
        //var table=document.getElementById("user_table");
        var table=$('#user_table').DataTable();
        var index = table.row(element.parentElement.parentElement).index();
        console.log(index);

        //table.rows(element.parentElement.parentElement).remove().draw();
        table.rows(element.parentElement.parentElement).remove();
        var currentPage = table.page();
        table.page(currentPage).draw(false);
    }

    function printpage(){
        var newstr = document.getElementById("user_table_div").innerHTML;
        var oldstr = document.body.innerHTML;
        document.body.innerHTML = newstr;
        window.print();
        document.body.innerHTML = oldstr;
        return false;

        /*var printHtml = document.getElementById("procurement_div").innerHTML;
        var wind = window.open("",'newwindow', 'height=300, width=700, top=100, left=100, toolbar=no, menubar=no, scrollbars=no, resizable=no,location=n o, status=no');
        wind.document.body.innerHTML = printHtml;
        wind.print();*/
    }

    function export2excel() {
        var table = document.getElementById("procurement_table");

        /*if(window.ActiveXObject) {
            var oXL = new ActiveXObject("Excel.Application");
            var oWB = oXL.Workbooks.Add();
            var oSheet = oWB.ActiveSheet;
            var sel = document.body.createTextRange();
            sel.moveToElementText(curTbl);
            sel.select();
            sel.execCommand("Copy");
            oSheet.Paste();
            oXL.Visible = true;
        }*/

        //var data="要保存的文本";
        //export_raw('range.json', data);

        /*var html = '<html><head><meta charset=\'utf-8\' /></head><body><table id="user_table" class="table table-striped dataTable" role="grid" aria-describedby="user_table_info">\n' +
            '            <thead>\n' +
            '            <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="user_table" rowspan="1" colspan="1" aria-sort="ascending" aria-label="用户ID: activate to sort column descending" style="width: 80px;">用户ID</th><th class="sorting" tabindex="0" aria-controls="user_table" rowspan="1" colspan="1" aria-label="用户姓名: activate to sort column ascending" style="width: 101px;">用户姓名</th><th class="sorting" tabindex="0" aria-controls="user_table" rowspan="1" colspan="1" aria-label="用户密码: activate to sort column ascending" style="width: 101px;">用户密码</th><th class="sorting" tabindex="0" aria-controls="user_table" rowspan="1" colspan="1" aria-label="用户权限: activate to sort column ascending" style="width: 101px;">用户权限</th><th class="sorting" tabindex="0" aria-controls="user_table" rowspan="1" colspan="1" aria-label="编辑: activate to sort column ascending" style="width: 60px;">编辑</th></tr>\n' +
            '            </thead>\n' +
            '            <tbody>\n' +
            '            <tr role="row" class="odd">\n' +
            '                    <td class="sorting_1">34</td>\n' +
            '                    <td>管理员</td>\n' +
            '                    <td>88888888</td>\n' +
            '                    <td>888</td>\n' +
            '                    <td><a class="edit" onclick="deleteRow()">删除</a></td>\n' +
            '                </tr><tr role="row" class="even">\n' +
            '                    <td class="sorting_1">35</td>\n' +
            '                    <td>admin</td>\n' +
            '                    <td>88888888</td>\n' +
            '                    <td>888</td>\n' +
            '                    <td><a class="edit" onclick="deleteRow()">删除</a></td>\n' +
            '                </tr><tr role="row" class="odd">\n' +
            '                    <td class="sorting_1">36</td>\n' +
            '                    <td>111</td>\n' +
            '                    <td>88888888</td>\n' +
            '                    <td>111</td>\n' +
            '                    <td><a class="edit" onclick="deleteRow()">删除</a></td>\n' +
            '                </tr><tr role="row" class="even">\n' +
            '                    <td class="sorting_1">37</td>\n' +
            '                    <td>112</td>\n' +
            '                    <td>88888888</td>\n' +
            '                    <td>112</td>\n' +
            '                    <td><a class="edit" onclick="deleteRow()">删除</a></td>\n' +
            '                </tr><tr role="row" class="odd">\n' +
            '                    <td class="sorting_1">38</td>\n' +
            '                    <td>113</td>\n' +
            '                    <td>88888888</td>\n' +
            '                    <td>113</td>\n' +
            '                    <td><a class="edit" onclick="deleteRow()">删除</a></td>\n' +
            '                </tr><tr role="row" class="even">\n' +
            '                    <td class="sorting_1">39</td>\n' +
            '                    <td>121</td>\n' +
            '                    <td>88888888</td>\n' +
            '                    <td>121</td>\n' +
            '                    <td><a class="edit" onclick="deleteRow()">删除</a></td>\n' +
            '                </tr><tr role="row" class="odd">\n' +
            '                    <td class="sorting_1">40</td>\n' +
            '                    <td>122</td>\n' +
            '                    <td>88888888</td>\n' +
            '                    <td>122</td>\n' +
            '                    <td><a class="edit" onclick="deleteRow()">删除</a></td>\n' +
            '                </tr><tr role="row" class="even">\n' +
            '                    <td class="sorting_1">41</td>\n' +
            '                    <td>123</td>\n' +
            '                    <td>88888888</td>\n' +
            '                    <td>123</td>\n' +
            '                    <td><a class="edit" onclick="deleteRow()">删除</a></td>\n' +
            '                </tr><tr role="row" class="odd">\n' +
            '                    <td class="sorting_1">42</td>\n' +
            '                    <td>131</td>\n' +
            '                    <td>88888888</td>\n' +
            '                    <td>131</td>\n' +
            '                    <td><a class="edit" onclick="deleteRow()">删除</a></td>\n' +
            '                </tr><tr role="row" class="even">\n' +
            '                    <td class="sorting_1">43</td>\n' +
            '                    <td>132</td>\n' +
            '                    <td>88888888</td>\n' +
            '                    <td>132</td>\n' +
            '                    <td><a class="edit" onclick="deleteRow()">删除</a></td>\n' +
            '                </tr></tbody>\n' +
            '            <tfoot>\n' +
            '            <tr><td rowspan="1" colspan="1">-</td><td rowspan="1" colspan="1">-</td><td rowspan="1" colspan="1">-</td><td rowspan="1" colspan="1">10089</td><td rowspan="1" colspan="1">-</td></tr>\n' +
            '            </tfoot>\n' +
            '        </table></body></html>';*/
        var html = "<html><head><meta charset='utf-8' /></head><body>" + document.getElementById("user_table").outerHTML + "</body></html>";// 使用outerHTML属性获取整个table元素的HTML代码（包括<table>标签），然后包装成一个完整的HTML文档，设置charset为urf-8以防止中文乱码
        console.log(html);
        // 实例化一个Blob对象，其构造函数的第一个参数是包含文件内容的数组，第二个参数是包含文件类型属性的对象
        var blob = new Blob([html], { type: "application/vnd.ms-excel" });
        var a = document.createElement('a');
        a.href = URL.createObjectURL(blob);
        a.download = "用户表.xls";
        document.body.appendChild(a);
        a.click();

        /*$("#user_table").table2excel({
            // 不被导出的表格行的CSS class类
            exclude: ".noExl",
            // 导出的Excel文档的名称
            name: "Excel Document Name",
            // Excel文件的名称
            filename: "test",
            //文件后缀名
            fileext: ".xls",
            //是否排除导出图片
            exclude_img: false,
            //是否排除导出超链接
            exclude_links: false,
            //是否排除导出输入框中的内容
            exclude_inputs: false
        });*/
    }
    function export_raw(name, data) {
        var urlObject = window.URL || window.webkitURL || window;
        var export_blob = new Blob([data]);
        var save_link = document.createElementNS("http://www.w3.org/1999/xhtml", "a");
        save_link.href = urlObject.createObjectURL(export_blob);
        save_link.download = name;

        var ev = document.createEvent("MouseEvents");
        ev.initMouseEvent(
            "click", true, false, window, 0, 0, 0, 0, 0
            , false, false, false, false, 0, null
        );
        save_link.dispatchEvent(ev);
    }
</script>
</body>
</html>